.section1 {

    background-color: $VeryLightGray;

    .container {

        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
            
        }
    }
    

    &-image {
        position:relative;
        min-height: 17.625rem;
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        
        @include breakpoint-up(large) {
            flex:3;
            order:2;
            height: 41rem;
            background-image: none;
            
        }


        &::before {


            @include breakpoint-up(large) {
                content: "";
                position: absolute;
                background-image: url('/images/bg-intro-desktop.svg');
                background-size: 145%;
                background-position: 0 85%;
                background-repeat: no-repeat;
                height: 100%;
                width: 125%
            }
        }
        

        &::after {
            content: "";
            position: absolute;
            background-image: url('/images/image-mockups.png');
            background-repeat: no-repeat;
            background-size: 95%;
            background-position: center bottom;
            height: 116%;
            width: 125%;

            @include breakpoint-down(medium){
                width:100%;
                background-size: 90%;
                background-position: 50% 96%;
            }

            @include breakpoint-up(large){
                
                background-size: 95%;
                background-position: 300% 86%

            }
        }

        

        
    }

    &-text {
        display: inline-block;
        text-align: center;
        font-weight: $font-light;


        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
        

        h1 {
            margin-bottom: 1.5rem;

            @include breakpoint-up(large) {
                font-size: 3.25rem;
                line-height: 3.5rem;
            }
        }

        p {
            font-size: 0.9rem; //15px;

            @include breakpoint-up(large) {
                font-size: 1.0625rem;
                line-height: 1.5rem;
            }
        }
    }
}