.section2 {

    background-color: $LightGrayishBlue;
    text-align: center;

    @include breakpoint-up(medium) {
        text-align: left;
    }


    &-container {


        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }

    }

    &-item {
        @include breakpoint-up(medium){
            flex: 0 0 50%;
        }

        @include breakpoint-up(large){
            flex: 1;
        }
    }

    
    &-text {
        
        p {
            @include breakpoint-up(large){
                font-size: 1.0625rem;
            }

        }
        
    }


    

}