.section2 {

    background-color: $LightGrayishBlue;
    text-align: center;

    @include breakpoint-up(medium) {
        text-align: left;
    }


    &-container {

        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
        }

    }

    &-header {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;

        @include breakpoint-up(large){
            width: 60%;
            margin-bottom: 4.75rem;
        }
       
    }

    &-item {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;

        @include breakpoint-up(medium){
            flex: 0 0 50%;
        }

        @include breakpoint-up(large){
            flex: 1;
        }
    }


    &-icon {
        margin-bottom: 1.8125rem;

        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }
    }

    &-subheader {
        margin-bottom: 1.8125rem;

        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
        }
    }
    
    &-text {
        margin-bottom: 2.375rem;
        
    }

    p {
        font-size: 0.9375rem;

        @include breakpoint-up(large){
            font-size: 1.0625rem;
        }

    }
    

}