.section1 {

    background-color: $VeryLightGray;

    .container {

        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
            
        }
    }
    

    &-image {
        position:relative;
        background-image: url('/images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;
        min-height: 17.625rem;


        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: url('/images/bg-intro-desktop.svg');
            background-position: left center;
        }
        

        &::before {
            content: "";
            position: absolute;
            background-image: url('/images/image-mockups.png');
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: center bottom;
            height: 100%;
            width: 100%;
        }
    }

    &-text {
        display: inline-block;
        text-align: center;
        font-weight: $font-light;


        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            
        }
        

        h1 {
            color:$DarkBlue;
            font-size: 2rem;
            font-weight: $font-light;
            line-height: 2.1625rem;
            margin-bottom: 1.5rem;
        }

        p {
            color: $GrayishBlue;
            margin-bottom:2.35rem;
            font-size: 0.9375rem; //15px;
        }
    }
}