

.section3 {

    background-color: $VeryLightGray;
    

    h2 {
        margin-bottom: 2.375rem;
        text-align: center;

        @include breakpoint-up(large){
            margin-bottom: 3.625rem;
            text-align: left;
        }
    }
    
    &-grid {
        display: grid;
        gap: 1.875rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);
        }

    }

    &-item {
        overflow: hidden;
        background-color: $White;
        border-radius: 10px;
        box-shadow: 0px 2px 30px #80808054;
        transition: all 150ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

    }

    &-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 12.5rem;
     
    }

    &-text {
        text-align: left;
        color: $GrayishBlue;
        padding: 2rem 2rem 3rem 2rem;

    }

    &-author {
        font-size: 0.75rem;
        margin-bottom: 0.9375rem;
    }
    &-title {
        font-size: 1rem;
        color: $DarkBlue;
        margin-bottom: 1.0625rem;
        line-height: 1.2;

        @include breakpoint-up(large) {
            margin-bottom: 0.875rem;
        }
    }
    &-description {
        font-size: .875rem;
    }

}
